.header{
    
    background: rgb(255, 255, 255);
}
#born{
    display: block;
    margin: auto;
    color: rgb(89, 57, 131);
    font-variant: small-caps;
    text-align: center;
}
#end{
    display: block;
    margin: auto;
    color: rgb(89, 57, 131);
    font-variant: small-caps;
    text-align: center;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color:white;
    
     
  }
  #refresh:hover{
    zoom:150%;
    cursor: pointer;
    
}
